* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato;
}
h1 {
    font-family: 'Source Serif Pro';
    text-align: center;
    margin: 24px 0 64px 0;
}

.top-nav {
    border-bottom: 1px solid #b9b0b0;
    padding: 10px 0 14px 0;
}

.top-nav i {
    display: block;
    padding: 8px 20px;
    border-right: 1px solid #b9b0b0;
}

.top-nav .fa {
    color: rgb(15, 15, 15);
    font-size: 20px;
}

.flex {
    display: flex;
}
header nav {
    background-color: #f8f5f5;
    width: 75%;
    margin: 8px auto;
    border: 1px solid #dfdddd;
    padding: 16px 8px;
    border-radius: 5px;
    min-height: 10px;
    align-items: center;
}
header nav div {
    margin: 0 24px;
  
}

.nav-part {
    display: flex;
    min-width: 2px;
    flex-direction: column;
    align-items: center;
    
}


img, header nav .fa {
    /* color: red; */
    height: 32px;
    font-size: 32px;
}
h4 {
    font-weight: 400;
}
h3.how-to {
    text-align: center;
    margin-top: 32px;
}
.outside {
    margin-top: 24px;
}
.outside img {
    height: 56px;
}
.outside h3 {
    font-weight: 700;
}


section {
    width: 75%;
    margin: 8px auto;
    border: 1px solid #dfdddd;
    border-radius: 5px;
}
section nav, .comp {
    padding: 14px 32px;
}

section nav {
    background-color: #f8f5f5;
    min-height: 2px;
    align-items: center;
    border-bottom: 1px solid #dfdddd;
}
.your-vehicles {
    margin-right: 30%;
}
.add {
    border: 1px solid #dfdddd;
    background-color: white;
    margin-left: 8px;
    padding: 2px 8px;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
}

.diesel {
    display: flex;
    margin-top: 14px;
    width: 100%;
}
.diesel>* {
    border: 1px solid #c3bbbb;
    padding: 10px;
}
.diesel select, .miles-per-year {
    width: 100px;
    font-family: Lato;
}

.diesel select {
    border-radius: 5px 0 0 5px;
    border-right: none;
}
.miles-per-year {
    border-left: none;
    border-right: none;
    background-color: #f8f5f5;
}
.cross {
    width: 40px;
    background-color: rgb(200, 36, 36);
    color: white;
    border: 1px solid rgb(200, 36, 36);
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
}  
input {
    width: 100%;
    text-align: right;
}

.first {
    border-bottom: 1px solid #dfdddd;
}

.slidecontainer {
    margin-top: 24px;
}

.slide-value {
    max-width: 170px;
    margin: 32px auto 0px auto;
    padding: 4px;
    text-align: center;
    background-color: rgb(27, 95, 158);
    border-radius: 5px;
    color: white;
}

.wrap {
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    header nav, section {
        width: 90%;
    }
    header nav {
        overflow-x: auto;
    }
    .your-vehicles {
        margin-bottom: 16px;
    }
    section nav, .comp {
        padding: 16px 16px;
    }
    .diesel {
        flex-wrap: wrap;
    }
    .diesel select {
        width: 25%;
    }
    input {
        width: 60%;
        /* border-radius: 0 5px 5px 0; */
    }
    .miles-per-year {
        display: none;
    }
    .cross {
        width: 15
    }
    header nav div.nav-part {
        /* width: 555px; */
        margin-right: 56px;
    }
    /* header nav {
        overflow: auto
    } */
}